.form {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 5px;
    margin-top: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form label {
    margin: .25em;
}

.form button {
    margin: .25em;
    width: 25%;
    align-self: center;
}