.person-schedule {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 5px;
  margin-bottom: .5em;
}

#button-container {
    display: flex;
    justify-content: flex-end;
}

#button-container button {
    min-height: 2em;
}


