.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-body {
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: 30%;
    top: 30%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    border-color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-row: repeat(5, 20%);
    grid-template-areas:
        "content content content content content"
        "content content content content content"
        "content content content content content"
        "content content content content content";
    align-items: center;
    justify-items: center;
}

.popup-body h1 {
    grid-area: content;
    font-size: 1em;
    padding: 5px;
}

#confirm-button {
    grid-column: 4;
    grid-row: 5;
    height: 2em;
    width: 80%;
}

#close-button {
    grid-column: 5;
    grid-row: 5;
    height: 2em;
    width: 80%;
}
